---
openapi: 3.0.1
info:
  title: RSSOL-BE API
  description: |-
    RSSOL-BE API 명세서모든 에러 응답은 GlobalExceptionHandler를 통해 공통 포맷(ApiResponse)으로 반환됩나다.
    따라서 모든 error 분류와, message는 상황에 따라 다르게 출력됩니다.
  version: v1
servers:
- url: https://api.rssolplan.com
- url: http://localhost:8080
security:
- bearerAuth: []
paths:
  "/api/todos/{todoId}":
    put:
      tags:
      - todo-controller
      operationId: updateTodo
      parameters:
      - name: todoId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/TodoUpdateRequestDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/TodoResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    delete:
      tags:
      - todo-controller
      operationId: deleteTodo
      parameters:
      - name: todoId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/payroll/store/staff/{userStoreId}/wage":
    put:
      tags:
      - payroll-controller
      operationId: updateStaffWage
      parameters:
      - name: userStoreId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/StaffWageUpdateDto"
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/mypage/staff/profile":
    get:
      tags:
      - mypage-controller
      operationId: getStaffProfile
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/StaffProfileResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    put:
      tags:
      - mypage-controller
      operationId: updateStaffProfile
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/StaffProfileUpdateRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/StaffProfileResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/mypage/owner/store":
    get:
      tags:
      - mypage-controller
      operationId: getOwnerActiveStore
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/OwnerStoreResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    put:
      tags:
      - mypage-controller
      operationId: updateOwnerActiveStore
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/OwnerStoreUpdateRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/OwnerStoreResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/mypage/owner/profile":
    get:
      tags:
      - mypage-controller
      operationId: getOwnerProfile
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/OwnerProfileResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    put:
      tags:
      - mypage-controller
      operationId: updateOwnerProfile
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/OwnerProfileUpdateRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/OwnerProfileResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/me/availabilities":
    get:
      tags:
      - work-availability-controller
      operationId: getAvailability
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/WorkAvailabilityGetResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    put:
      tags:
      - work-availability-controller
      operationId: patchAvailability
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/WorkAvailabilityRequestDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/WorkAvailabilityPatchResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    post:
      tags:
      - work-availability-controller
      operationId: createAvailability
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/WorkAvailabilityRequestDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/WorkAvailabilityCreateResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/todos":
    get:
      tags:
      - todo-controller
      operationId: getTodosByDate
      parameters:
      - name: date
        in: query
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/TodoListResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    post:
      tags:
      - todo-controller
      operationId: createTodo
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/TodoCreateRequestDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/TodoResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/store-settings/temporary":
    get:
      tags:
      - store-setting-controller
      operationId: getTemporarySetting
      parameters:
      - name: key
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/StoreSettingDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    post:
      tags:
      - store-setting-controller
      operationId: saveTemporarySetting
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/StoreSettingDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: object
                additionalProperties:
                  type: string
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    delete:
      tags:
      - store-setting-controller
      operationId: deleteTemporarySetting
      parameters:
      - name: key
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/store-settings/temporary/apply":
    post:
      tags:
      - store-setting-controller
      operationId: applyTemporaryAsDefault
      parameters:
      - name: key
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/StoreSettingDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/shift-swap/requests":
    post:
      tags:
      - shift-swap-controller
      operationId: create
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ShiftSwapRequestCreateDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ShiftSwapResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/schedules/workshifts":
    post:
      tags:
      - work-shift-controller
      operationId: createWorkShift
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/WorkShiftCreateDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/WorkShiftDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/schedules/requests":
    post:
      tags:
      - schedule-generation-controller
      operationId: requestSchedule
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ScheduleRequestDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ScheduleRequestResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/schedules/requests/{scheduleRequestId}/generate":
    post:
      tags:
      - schedule-generation-controller
      operationId: generateSchedule
      parameters:
      - name: scheduleRequestId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ScheduleGenerationRequestDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ScheduleGenerationResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/schedules/requests/{scheduleRequestId}/confirm":
    post:
      tags:
      - schedule-generation-controller
      operationId: confirmSchedule
      parameters:
      - name: scheduleRequestId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ConfirmScheduleRequestDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/payroll/admin/minimum-wage":
    post:
      tags:
      - payroll-controller
      operationId: createMinimumWage
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MinimumWageUpdateDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/MinimumWage"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/mypage/staff/stores":
    get:
      tags:
      - mypage-controller
      operationId: listStaffStores
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/StoreSimpleResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    post:
      tags:
      - mypage-controller
      operationId: joinStaffStore
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/StaffJoinStoreRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/StoreSimpleResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/mypage/owner/stores":
    get:
      tags:
      - mypage-controller
      operationId: listOwnerStores
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/StoreSimpleResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    post:
      tags:
      - mypage-controller
      operationId: addOwnerStore
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/OwnerCreateStoreRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/StoreSimpleResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/extra-shift/requests":
    post:
      tags:
      - extrashift-controller
      operationId: create_1
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ExtrashiftCreateDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ExtrashiftRequestDetailDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/auth/refresh-token":
    post:
      tags:
      - auth-controller
      operationId: refresh
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/RefreshTokenResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/auth/onboarding":
    post:
      tags:
      - onboarding-controller
      operationId: onboarding
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/OnboardingRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/OnboardingResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/auth/logout":
    post:
      tags:
      - auth-controller
      operationId: logout
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/auth/dev-token":
    post:
      tags:
      - dev-token-controller
      operationId: generateDevToken
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/DevTokenRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/attendance/check-out":
    post:
      tags:
      - attendance-controller
      operationId: checkOut
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/AttendanceCheckOutResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/attendance/check-in":
    post:
      tags:
      - attendance-controller
      operationId: checkIn
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/AttendanceCheckInResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/todos/{todoId}/toggle":
    patch:
      tags:
      - todo-controller
      operationId: toggleTodoCompleted
      parameters:
      - name: todoId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/TodoResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/store-settings":
    get:
      tags:
      - store-setting-controller
      operationId: getStoreSetting
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/StoreSettingDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    patch:
      tags:
      - store-setting-controller
      operationId: updateStoreSetting
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/StoreSettingDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/StoreSettingDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/shift-swap/requests/{requestId}/respond":
    patch:
      tags:
      - shift-swap-controller
      operationId: respond
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ShiftSwapRespondDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ShiftSwapResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/shift-swap/requests/{requestId}/manager-approval":
    patch:
      tags:
      - shift-swap-controller
      operationId: managerApproval
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ShiftSwapManagerApprovalDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ShiftSwapResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/schedules/workshifts/{shiftId}":
    delete:
      tags:
      - work-shift-controller
      operationId: deleteWorkShift
      parameters:
      - name: shiftId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    patch:
      tags:
      - work-shift-controller
      operationId: updateWorkShift
      parameters:
      - name: shiftId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/WorkShiftUpdateDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/WorkShiftDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/mypage/active-store/{storeId}":
    patch:
      tags:
      - mypage-controller
      operationId: updateActiveStore
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ActiveStoreResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/extra-shift/requests/{requestId}/respond":
    patch:
      tags:
      - extrashift-controller
      operationId: respond_1
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ExtrashiftRespondDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ExtrashiftResponseDetailDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/extra-shift/requests/{requestId}/manager-approval":
    patch:
      tags:
      - extrashift-controller
      operationId: managerApproval_1
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ExtrashiftManagerApprovalDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ExtrashiftManagerApprovalDetailDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/{storeId}/availabilities":
    get:
      tags:
      - work-availability-controller
      operationId: getAllAvailability
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/WorkAvailabilityAllResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/store/staff":
    get:
      tags:
      - store-controller
      operationId: getAllStaff
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/StoreStaffResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/store/staff/summary":
    get:
      tags:
      - store-controller
      operationId: getAllStaffSummary
      parameters:
      - name: year
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: month
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/AllStaffSummaryResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/schedules":
    get:
      tags:
      - work-shift-controller
      operationId: getWorkShifts
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: object
                additionalProperties:
                  type: object
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/schedules/store/week":
    get:
      tags:
      - work-shift-controller
      operationId: getStoreWorkShiftsByWeek
      parameters:
      - name: start
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: end
        in: query
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/WorkShiftDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/schedules/requests/{storeId}/submission-status":
    get:
      tags:
      - schedule-generation-controller
      operationId: checkSubmissionStatus
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: object
                additionalProperties:
                  type: object
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/schedules/me/week":
    get:
      tags:
      - work-shift-controller
      operationId: getMyWorkShiftsByWeek
      parameters:
      - name: start
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: end
        in: query
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/MyWorkShiftDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/schedules/candidates":
    get:
      tags:
      - schedule-generation-controller
      operationId: getCandidateSchedules
      parameters:
      - name: key
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/CandidateSchedule"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/payroll/store/wages":
    get:
      tags:
      - payroll-controller
      operationId: getAllStaffWages
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/StoreStaffWagesResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/payroll/store/total":
    get:
      tags:
      - payroll-controller
      operationId: getStorePayrollTotal
      parameters:
      - name: year
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: month
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/StorePayrollSummaryDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/payroll/store/summary":
    get:
      tags:
      - payroll-controller
      operationId: getStorePayrollSummary
      parameters:
      - name: year
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: month
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/OwnerPayrollSummaryDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/payroll/store/staff/{userStoreId}":
    get:
      tags:
      - payroll-controller
      operationId: getStaffPayrollDetail
      parameters:
      - name: userStoreId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: year
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: month
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/StaffPayrollResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/payroll/store/employee/{userStoreId}":
    get:
      tags:
      - payroll-controller
      operationId: getEmployeePayrollDetail
      parameters:
      - name: userStoreId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: year
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: month
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/EmployeePayrollDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/payroll/minimum-wage":
    get:
      tags:
      - payroll-controller
      operationId: getMinimumWage
      parameters:
      - name: year
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/MinimumWage"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/payroll/minimum-wage/current":
    get:
      tags:
      - payroll-controller
      operationId: getCurrentMinimumWage
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/MinimumWage"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/payroll/me":
    get:
      tags:
      - payroll-controller
      operationId: getMyPayrolls
      parameters:
      - name: year
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: month
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/StaffMyPayrollResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/payroll/me/total":
    get:
      tags:
      - payroll-controller
      operationId: getMyPayrollsTotal
      parameters:
      - name: year
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: month
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/MyPayrollListDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/notifications":
    get:
      tags:
      - notification-controller
      operationId: getNotifications
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/NotificationResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/mypage/active-store":
    get:
      tags:
      - mypage-controller
      operationId: getActiveStore
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ActiveStoreResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/auth/kakao/callback":
    get:
      tags:
      - auth-controller
      operationId: kakaoCallback
      parameters:
      - name: code
        in: query
        required: true
        schema:
          type: string
      - name: redirect_uri
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/attendance/today":
    get:
      tags:
      - attendance-controller
      operationId: getToday
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/AttendanceTodayResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/administration-staff/employees/{userStoreId}/profile":
    get:
      tags:
      - view-profile-controller
      operationId: getEmployeeProfile
      parameters:
      - name: userStoreId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ViewProfileResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/administration-staff/employees/{userStoreId}/attendance":
    get:
      tags:
      - view-attendance-controller
      operationId: getEmployeeAttendance
      parameters:
      - name: userStoreId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: startDate
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ViewAttendanceResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/mypage/staff/stores/{storeId}":
    delete:
      tags:
      - mypage-controller
      operationId: leaveStaffStore
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/mypage/owner/stores/{storeId}":
    delete:
      tags:
      - mypage-controller
      operationId: removeOwnerStore
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
components:
  schemas:
    ApiResponseObject:
      type: object
      properties:
        success:
          type: boolean
          description: 성공 여부
          example: false
        error:
          type: string
          description: 에러 코드
          example: BAD_REQUEST
        message:
          type: string
          description: 에러/메시지 내용
          example: 잘못된 요청입니다.
        data:
          type: object
          description: 응답 데이터
      description: API 공통 응답 구조
    TodoUpdateRequestDto:
      type: object
      properties:
        content:
          maxLength: 500
          minLength: 0
          type: string
        completed:
          type: boolean
    TodoResponseDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        date:
          type: string
          format: date
        todoType:
          type: string
          enum:
          - STORE
          - HANDOVER
          - PERSONAL
        content:
          type: string
        completed:
          type: boolean
        authorId:
          type: integer
          format: int64
        authorName:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    StaffWageUpdateDto:
      required:
      - hourlyWage
      type: object
      properties:
        hourlyWage:
          minimum: 0
          type: integer
          format: int32
    StaffProfileUpdateRequest:
      type: object
      properties:
        username:
          type: string
        email:
          type: string
        bankId:
          type: integer
          format: int32
        accountNumber:
          type: string
    BankAccount:
      type: object
      properties:
        bankId:
          type: integer
          format: int32
        bankName:
          type: string
        accountNumber:
          type: string
    CurrentStore:
      type: object
      properties:
        storeId:
          type: integer
          format: int64
        name:
          type: string
        storeCode:
          type: string
    StaffProfileResponse:
      type: object
      properties:
        userId:
          type: integer
          format: int64
        username:
          type: string
        email:
          type: string
        profileImageUrl:
          type: string
        position:
          type: string
        employmentStatus:
          type: string
        currentStore:
          "$ref": "#/components/schemas/CurrentStore"
        bankAccount:
          "$ref": "#/components/schemas/BankAccount"
    OwnerStoreUpdateRequest:
      type: object
      properties:
        name:
          type: string
        address:
          type: string
        phoneNumber:
          type: string
    OwnerStoreResponse:
      type: object
      properties:
        storeId:
          type: integer
          format: int64
        storeCode:
          type: string
        name:
          type: string
        address:
          type: string
        phoneNumber:
          type: string
    OwnerProfileUpdateRequest:
      type: object
      properties:
        username:
          type: string
        email:
          type: string
        businessRegistrationNumber:
          type: string
    OwnerProfileResponse:
      type: object
      properties:
        userId:
          type: integer
          format: int64
        username:
          type: string
        email:
          type: string
        profileImageUrl:
          type: string
        position:
          type: string
        employmentStatus:
          type: string
        businessRegistrationNumber:
          type: string
    AvailabilityItem:
      type: object
      properties:
        dayOfWeek:
          type: string
          enum:
          - MON
          - TUE
          - WED
          - THU
          - FRI
          - SAT
          - SUN
        startTime:
          type: string
        endTime:
          type: string
    WorkAvailabilityRequestDto:
      type: object
      properties:
        availabilities:
          type: array
          items:
            "$ref": "#/components/schemas/AvailabilityItem"
    WorkAvailabilityPatchResponseDto:
      type: object
      properties:
        availabilityId:
          type: integer
          format: int64
        status:
          type: string
          enum:
          - INSERTED
          - UPDATED
          - DELETED
    TodoCreateRequestDto:
      required:
      - content
      - date
      - todoType
      type: object
      properties:
        date:
          type: string
          format: date
        todoType:
          type: string
          enum:
          - STORE
          - HANDOVER
          - PERSONAL
        content:
          maxLength: 500
          minLength: 0
          type: string
    LocalTime:
      type: object
      properties:
        hour:
          type: integer
          format: int32
        minute:
          type: integer
          format: int32
        second:
          type: integer
          format: int32
        nano:
          type: integer
          format: int32
    SegmentDto:
      type: object
      properties:
        startTime:
          "$ref": "#/components/schemas/LocalTime"
        endTime:
          "$ref": "#/components/schemas/LocalTime"
    StoreSettingDto:
      type: object
      properties:
        openTime:
          "$ref": "#/components/schemas/LocalTime"
        closeTime:
          "$ref": "#/components/schemas/LocalTime"
        useSegments:
          type: boolean
        segments:
          type: array
          items:
            "$ref": "#/components/schemas/SegmentDto"
        hasBreakTime:
          type: boolean
        breakStartTime:
          "$ref": "#/components/schemas/LocalTime"
[...]
