---
openapi: 3.0.1
info:
  title: RSSOL-BE API
  description: |-
    RSSOL-BE API 명세서모든 에러 응답은 GlobalExceptionHandler를 통해 공통 포맷(ApiResponse)으로 반환됩나다.
    따라서 모든 error 분류와, message는 상황에 따라 다르게 출력됩니다.
  version: v1
servers:
- url: https://connecti.store
security:
- bearerAuth: []
paths:
  "/api/mypage/staff/profile":
    get:
      tags:
      - mypage-controller
      operationId: getStaffProfile
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/StaffProfileResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    put:
      tags:
      - mypage-controller
      operationId: updateStaffProfile
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/StaffProfileUpdateRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/StaffProfileResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/mypage/owner/store":
    get:
      tags:
      - mypage-controller
      operationId: getOwnerActiveStore
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/OwnerStoreResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    put:
      tags:
      - mypage-controller
      operationId: updateOwnerActiveStore
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/OwnerStoreUpdateRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/OwnerStoreResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/mypage/owner/profile":
    get:
      tags:
      - mypage-controller
      operationId: getOwnerProfile
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/OwnerProfileResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    put:
      tags:
      - mypage-controller
      operationId: updateOwnerProfile
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/OwnerProfileUpdateRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/OwnerProfileResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/me/availabilities":
    get:
      tags:
      - work-availability-controller
      operationId: getAvailability
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/WorkAvailabilityGetResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    put:
      tags:
      - work-availability-controller
      operationId: patchAvailability
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/WorkAvailabilityRequestDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/WorkAvailabilityPatchResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    post:
      tags:
      - work-availability-controller
      operationId: createAvailability
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/WorkAvailabilityRequestDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/WorkAvailabilityCreateResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/shift-swap/requests":
    post:
      tags:
      - shift-swap-controller
      operationId: create
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ShiftSwapRequestCreateDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ShiftSwapResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/schedules/{settingId}/generate":
    post:
      tags:
      - schedule-generation-controller
      operationId: createSchedule
      parameters:
      - name: settingId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ScheduleGenerationRequestDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ScheduleGenerationResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/schedules/workshifts":
    post:
      tags:
      - work-shift-controller
      operationId: createWorkShift
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/WorkShiftCreateDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/WorkShiftDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/schedules/requests":
    post:
      tags:
      - schedule-generation-controller
      operationId: requestSchedule
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ScheduleRequestDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ScheduleRequestResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/schedules/confirm":
    post:
      tags:
      - schedule-generation-controller
      operationId: confirmSchedule
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ConfirmScheduleRequestDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/mypage/staff/stores":
    get:
      tags:
      - mypage-controller
      operationId: listStaffStores
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/StoreSimpleResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    post:
      tags:
      - mypage-controller
      operationId: joinStaffStore
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/StaffJoinStoreRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/StoreSimpleResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/mypage/owner/stores":
    get:
      tags:
      - mypage-controller
      operationId: listOwnerStores
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/StoreSimpleResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    post:
      tags:
      - mypage-controller
      operationId: addOwnerStore
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/OwnerCreateStoreRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/StoreSimpleResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/extra-shift/requests":
    post:
      tags:
      - extrashift-controller
      operationId: create_1
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ExtrashiftCreateDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ExtrashiftRequestDetailDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/auth/refresh-token":
    post:
      tags:
      - auth-controller
      operationId: refresh
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/RefreshTokenResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/auth/onboarding":
    post:
      tags:
      - onboarding-controller
      operationId: onboarding
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/OnboardingRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/OnboardingResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/auth/logout":
    post:
      tags:
      - auth-controller
      operationId: logout
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/auth/dev-token":
    post:
      tags:
      - dev-token-controller
      operationId: generateDevToken
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/DevTokenRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/shift-swap/requests/{requestId}/respond":
    patch:
      tags:
      - shift-swap-controller
      operationId: respond
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ShiftSwapRespondDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ShiftSwapResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/shift-swap/requests/{requestId}/manager-approval":
    patch:
      tags:
      - shift-swap-controller
      operationId: managerApproval
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ShiftSwapManagerApprovalDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ShiftSwapResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/schedules/workshifts/{shiftId}":
    delete:
      tags:
      - work-shift-controller
      operationId: deleteWorkShift
      parameters:
      - name: shiftId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    patch:
      tags:
      - work-shift-controller
      operationId: updateWorkShift
      parameters:
      - name: shiftId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/WorkShiftUpdateDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/WorkShiftDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/mypage/active-store/{storeId}":
    patch:
      tags:
      - mypage-controller
      operationId: updateActiveStore
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ActiveStoreResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/extra-shift/requests/{requestId}/respond":
    patch:
      tags:
      - extrashift-controller
      operationId: respond_1
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ExtrashiftRespondDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ExtrashiftResponseDetailDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/extra-shift/requests/{requestId}/manager-approval":
    patch:
      tags:
      - extrashift-controller
      operationId: managerApproval_1
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ExtrashiftManagerApprovalDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ExtrashiftManagerApprovalDetailDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/{storeId}/availabilities":
    get:
      tags:
      - work-availability-controller
      operationId: getAllAvailability
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/WorkAvailabilityAllResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/store/staff":
    get:
      tags:
      - store-controller
      operationId: getAllStaff
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/StoreStaffResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/schedules":
    get:
      tags:
      - work-shift-controller
      operationId: getWorkShifts
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: object
                additionalProperties:
                  type: object
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/schedules/store/week":
    get:
      tags:
      - work-shift-controller
      operationId: getStoreWorkShiftsByWeek
      parameters:
      - name: start
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: end
        in: query
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/WorkShiftDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/schedules/redis":
    get:
      tags:
      - schedule-generation-controller
      operationId: redisTest
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/schedules/me/week":
    get:
      tags:
      - work-shift-controller
      operationId: getMyWorkShiftsByWeek
      parameters:
      - name: start
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: end
        in: query
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/MyWorkShiftDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/schedules/candidates":
    get:
      tags:
      - schedule-generation-controller
      operationId: getCandidateSchedules
      parameters:
      - name: key
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/CandidateSchedule"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/notifications":
    get:
      tags:
      - notification-controller
      operationId: getNotifications
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/NotificationResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/mypage/active-store":
    get:
      tags:
      - mypage-controller
      operationId: getActiveStore
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ActiveStoreResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/auth/kakao/callback":
    get:
      tags:
      - auth-controller
      operationId: kakaoCallback
      parameters:
      - name: code
        in: query
        required: true
        schema:
          type: string
      - name: redirect_uri
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/mypage/staff/stores/{storeId}":
    delete:
      tags:
      - mypage-controller
      operationId: leaveStaffStore
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/mypage/owner/stores/{storeId}":
    delete:
      tags:
      - mypage-controller
      operationId: removeOwnerStore
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
components:
  schemas:
    ApiResponseObject:
      type: object
      properties:
        success:
          type: boolean
          description: 성공 여부
          example: false
        error:
          type: string
          description: 에러 코드
          example: BAD_REQUEST
        message:
          type: string
          description: 에러/메시지 내용
          example: 잘못된 요청입니다.
        data:
          type: object
          description: 응답 데이터
      description: API 공통 응답 구조
    StaffProfileUpdateRequest:
      type: object
      properties:
        username:
          type: string
        email:
          type: string
        bankId:
          type: integer
          format: int32
        accountNumber:
          type: string
    BankAccount:
      type: object
      properties:
        bankId:
          type: integer
          format: int32
        bankName:
          type: string
        accountNumber:
          type: string
    CurrentStore:
      type: object
      properties:
        storeId:
          type: integer
          format: int64
        name:
          type: string
        storeCode:
          type: string
    StaffProfileResponse:
      type: object
      properties:
        userId:
          type: integer
          format: int64
        username:
          type: string
        email:
          type: string
        profileImageUrl:
          type: string
        position:
          type: string
        employmentStatus:
          type: string
        currentStore:
          "$ref": "#/components/schemas/CurrentStore"
        bankAccount:
          "$ref": "#/components/schemas/BankAccount"
    OwnerStoreUpdateRequest:
      type: object
      properties:
        name:
          type: string
        address:
          type: string
        phoneNumber:
          type: string
    OwnerStoreResponse:
      type: object
      properties:
        storeId:
          type: integer
          format: int64
        storeCode:
          type: string
        name:
          type: string
        address:
          type: string
        phoneNumber:
          type: string
    OwnerProfileUpdateRequest:
      type: object
      properties:
        username:
          type: string
        email:
          type: string
        businessRegistrationNumber:
          type: string
    OwnerProfileResponse:
      type: object
      properties:
        userId:
          type: integer
          format: int64
        username:
          type: string
        email:
          type: string
        profileImageUrl:
          type: string
        position:
          type: string
        employmentStatus:
          type: string
        businessRegistrationNumber:
          type: string
    AvailabilityItem:
      type: object
      properties:
        dayOfWeek:
          type: string
          enum:
          - MON
          - TUE
          - WED
          - THU
          - FRI
          - SAT
          - SUN
        startTime:
          type: string
        endTime:
          type: string
    WorkAvailabilityRequestDto:
      type: object
      properties:
        availabilities:
          type: array
          items:
            "$ref": "#/components/schemas/AvailabilityItem"
    WorkAvailabilityPatchResponseDto:
      type: object
      properties:
        availabilityId:
          type: integer
          format: int64
        status:
          type: string
          enum:
          - INSERTED
          - UPDATED
          - DELETED
    ShiftSwapRequestCreateDto:
      type: object
      properties:
        shiftId:
          type: integer
          format: int64
        reason:
          type: string
    ShiftSwapResponseDto:
      type: object
      properties:
        requestId:
          type: integer
          format: int64
        shiftId:
          type: integer
          format: int64
        requesterId:
          type: integer
          format: int64
        receiverId:
          type: integer
          format: int64
        reason:
          type: string
        status:
          type: string
          enum:
          - PENDING
          - ACCEPTED
          - REJECTED
        managerApprovalStatus:
          type: string
          enum:
          - PENDING
          - APPROVED
          - REJECTED
        createdAt:
          type: string
          format: date-time
    GenerationOptionsDto:
      type: object
      properties:
        candidateCount:
          type: integer
          format: int32
    ScheduleGenerationRequestDto:
      type: object
      properties:
        generationOptions:
          "$ref": "#/components/schemas/GenerationOptionsDto"
    LocalTime:
      type: object
      properties:
        hour:
          type: integer
          format: int32
        minute:
          type: integer
          format: int32
        second:
          type: integer
          format: int32
        nano:
          type: integer
          format: int32
    ScheduleGenerationResponseDto:
      type: object
      properties:
        status:
          type: string
        scheduleSettingsId:
          type: integer
          format: int64
        storeId:
          type: integer
          format: int64
        timeSegments:
          type: array
          items:
            "$ref": "#/components/schemas/ScheduleSettingSegmentResponseDto"
        candidateScheduleKey:
          type: string
        generatedCount:
          type: integer
          format: int32
        unsubmittedEmployeeIds:
          type: array
          items:
            type: integer
            format: int64
    ScheduleSettingSegmentResponseDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        startTime:
          "$ref": "#/components/schemas/LocalTime"
        endTime:
          "$ref": "#/components/schemas/LocalTime"
        requiredStaff:
          type: integer
          format: int32
    WorkShiftCreateDto:
      type: object
      properties:
        userStoreId:
          type: integer
          format: int64
        startDatetime:
          type: string
          format: date-time
        endDatetime:
          type: string
          format: date-time
    WorkShiftDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        userStoreId:
          type: integer
          format: int64
        userId:
          type: integer
          format: int64
        username:
          type: string
        startDatetime:
          type: string
          format: date-time
        endDatetime:
          type: string
          format: date-time
        shiftStatus:
          type: string
    ScheduleRequestDto:
      type: object
      properties:
        openTime:
          "$ref": "#/components/schemas/LocalTime"
        closeTime:
          "$ref": "#/components/schemas/LocalTime"
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        timeSegments:
          type: array
          items:
            "$ref": "#/components/schemas/ScheduleSettingSegmentRequestDto"
    ScheduleSettingSegmentRequestDto:
      type: object
      properties:
        startTime:
          "$ref": "#/components/schemas/LocalTime"
        endTime:
          "$ref": "#/components/schemas/LocalTime"
        requiredStaff:
          type: integer
          format: int32
    ScheduleRequestResponseDto:
      type: object
      properties:
        scheduleSettingId:
          type: integer
          format: int64
        status:
          type: string
    ConfirmScheduleRequestDto:
      type: object
      properties:
        candidateKey:
          type: string
        index:
          type: integer
          format: int32
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
    StaffJoinStoreRequest:
      type: object
      properties:
        storeCode:
          type: string
        hireDate:
          type: string
          format: date
    StoreSimpleResponse:
      type: object
      properties:
        storeId:
          type: integer
          format: int64
        storeCode:
          type: string
        name:
          type: string
        address:
          type: string
        phoneNumber:
          type: string
        businessRegistrationNumber:
          type: string
        position:
          type: string
        employmentStatus:
          type: string
        hireDate:
          type: string
          format: date
    OwnerCreateStoreRequest:
      type: object
      properties:
        name:
          type: string
        address:
          type: string
        phoneNumber:
          type: string
        businessRegistrationNumber:
          type: string
        hireDate:
          type: string
          format: date
    WorkAvailabilityCreateResponseDto:
      type: object
      properties:
        message:
          type: string
        userStoreId:
          type: integer
          format: int64
        inserted:
          type: integer
          format: int32
    ExtrashiftCreateDto:
      type: object
      properties:
        shiftId:
          type: integer
          format: int64
        headcount:
          type: integer
          format: int32
        note:
          type: string
    ExtrashiftRequestDetailDto:
      type: object
      properties:
        requestId:
          type: integer
          format: int64
        storeId:
          type: integer
          format: int64
        ownerUserId:
          type: integer
          format: int64
        baseShiftId:
          type: integer
          format: int64
        start:
          type: string
        end:
          type: string
        headcountRequested:
          type: integer
          format: int32
        headcountFilled:
          type: integer
          format: int32
        status:
          type: string
        note:
          type: string
        receiverUserIds:
          type: array
          items:
            type: integer
            format: int64
    RefreshTokenResponse:
      type: object
      properties:
        accessToken:
          type: string
    OnboardingRequest:
      type: object
      properties:
        role:
          type: string
        storeCode:
          type: string
        name:
          type: string
        address:
          type: string
        phoneNumber:
          type: string
        businessRegistrationNumber:
          type: string
        bankId:
          type: integer
          format: int32
        accountNumber:
          type: string
        hireDate:
          type: string
          format: date
    OnboardingResponse:
      type: object
      properties:
        userId:
          type: integer
          format: int64
        userStoreId:
          type: integer
          format: int64
        storeId:
          type: integer
          format: int64
        position:
          type: string
        employmentStatus:
          type: string
        storeCode:
          type: string
        storeName:
          type: string
        address:
          type: string
        phoneNumber:
          type: string
        businessRegistrationNumber:
          type: string
        bankId:
          type: integer
          format: int32
        bankName:
          type: string
        accountNumber:
          type: string
        hireDate:
          type: string
          format: date
    DevTokenRequest:
      type: object
      properties:
        email:
          type: string
    ShiftSwapRespondDto:
      type: object
      properties:
        action:
          type: string
    ShiftSwapManagerApprovalDto:
      type: object
      properties:
        action:
          type: string
    WorkShiftUpdateDto:
      type: object
      properties:
        startDatetime:
          type: string
          format: date-time
        endDatetime:
          type: string
          format: date-time
    ActiveStoreResponse:
      type: object
      properties:
        storeId:
          type: integer
          format: int64
        storeCode:
          type: string
        name:
          type: string
        address:
          type: string
        phoneNumber:
          type: string
        businessRegistrationNumber:
          type: string
        position:
          type: string
        employmentStatus:
          type: string
    ExtrashiftRespondDto:
      type: object
      properties:
        action:
          type: string
    ExtrashiftResponseDetailDto:
      type: object
      properties:
        requestId:
          type: integer
          format: int64
        responseId:
          type: integer
          format: int64
        storeId:
          type: integer
          format: int64
        ownerUserId:
          type: integer
          format: int64
        candidateUserId:
          type: integer
          format: int64
        start:
          type: string
        end:
          type: string
        headcountRequested:
          type: integer
          format: int32
        headcountFilled:
          type: integer
          format: int32
        requestStatus:
          type: string
        workerAction:
          type: string
        managerApproval:
          type: string
        createdAt:
          type: string
    ExtrashiftManagerApprovalDto:
      type: object
      properties:
        responseId:
          type: integer
          format: int64
        action:
          type: string
    ExtrashiftManagerApprovalDetailDto:
      type: object
      properties:
        requestId:
          type: integer
          format: int64
        responseId:
          type: integer
          format: int64
        storeId:
          type: integer
          format: int64
        ownerUserId:
          type: integer
          format: int64
        candidateUserId:
          type: integer
          format: int64
        start:
          type: string
        end:
          type: string
        headcountRequested:
          type: integer
          format: int32
        headcountFilled:
          type: integer
          format: int32
        requestStatus:
          type: string
        workerAction:
          type: string
        managerApproval:
          type: string
        shiftAssigned:
          type: boolean
    WorkAvailabilityAllResponseDto:
      type: object
      properties:
        username:
          type: string
        availabilities:
          type: array
          items:
            "$ref": "#/components/schemas/AvailabilityItem"
    StoreStaffResponse:
      type: object
      properties:
        userStoreId:
          type: integer
          format: int64
        username:
          type: string
    MyWorkShiftDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        storeId:
          type: integer
          format: int64
        storeName:
          type: string
        startDatetime:
          type: string
          format: date-time
        endDatetime:
          type: string
          format: date-time
        shiftStatus:
          type: string
    CandidateSchedule:
      type: object
      properties:
        storeId:
          type: integer
          format: int64
        shifts:
          type: array
          items:
            "$ref": "#/components/schemas/CandidateShift"
    CandidateShift:
      type: object
      properties:
        userStoreId:
          type: integer
          format: int64
        username:
          type: string
        startTime:
          "$ref": "#/components/schemas/LocalTime"
        endTime:
          "$ref": "#/components/schemas/LocalTime"
        day:
          type: string
          enum:
          - MON
          - TUE
          - WED
          - THU
          - FRI
          - SAT
          - SUN
        status:
          type: string
    NotificationResponseDto:
      type: object
      properties:
        storeName:
          type: string
        profileImageUrl:
          type: string
        category:
          type: string
          enum:
          - SCHEDULE_INPUT
          - SHIFT_SWAP
          - EXTRA_SHIFT
        type:
          type: string
          enum:
          - SCHEDULE_INPUT_REQUEST
          - SHIFT_SWAP_REQUEST
          - SHIFT_SWAP_NOTIFY_MANAGER
          - SHIFT_SWAP_MANAGER_APPROVED_REQUESTER
          - SHIFT_SWAP_MANAGER_APPROVED_RECEIVER
          - SHIFT_SWAP_MANAGER_REJECTED_REQUESTER
          - SHIFT_SWAP_MANAGER_REJECTED_RECEIVER
          - EXTRA_SHIFT_REQUEST_INVITE
          - EXTRA_SHIFT_NOTIFY_MANAGER
          - EXTRA_SHIFT_MANAGER_APPROVED_WORKER
          - EXTRA_SHIFT_MANAGER_REJECTED_WORKER
          - EXTRA_SHIFT_FILLED_BROADCAST
        message:
          type: string
        createdAt:
          type: string
          format: date-time
        shiftSwapRequestId:
          type: integer
          format: int64
        extraShiftRequestId:
          type: integer
          format: int64
        shiftSwapStatus:
          type: string
          enum:
          - PENDING
          - ACCEPTED
          - REJECTED
        shiftSwapManagerApprovalStatus:
          type: string
          enum:
          - PENDING
          - APPROVED
          - REJECTED
        extraShiftStatus:
          type: string
          enum:
          - OPEN
          - FILLED
          - CANCELLED
          - EXPIRED
        read:
          type: boolean
    WorkAvailabilityGetResponseDto:
      type: object
      properties:
        message:
          type: string
        userStoreId:
          type: integer
          format: int64
        availabilities:
          type: array
          items:
            "$ref": "#/components/schemas/AvailabilityItem"
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
